.idea

3.5 course/VVD/Lab1/beer_reviews.csv
3.5 course/VVD/Lab1/beers.csv
3.5 course/VVD/Lab1/breweries.csv
3.5 course/VVD/Lab1/recipeData.csv
3.5 course/VVD/Lab1/recipes_full.txt
3.5 course/VVD/Lab1/styleData.csv


3.5 course/KG/Lab2/lab2