
<div class="profile-panel" id="profile-panel">
            <div class="profile-panel__column">
                <div style=""><i class='far fa-user profile__ava' style='text-align-last: center;font-size: 200px; margin-top: 82px;color: #92c9ff;'></i></div>
            </div>
            <div class="profile-panel__column">
                <div class="profile-panel__info">
                <span class="profile-panel__info__btn">
                    <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{username}}</span>
                <span class="profile-panel__info__btn">
                    <i class='fas fa-at' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{email}}</span>
                </div>
            </div>
        </div>
