<div id="car-panel" class="car-panel">
            <div class="car-panel__column">
            <img src={{car.url}} class="car__img">
        </div>
        <div class="car-panel__column"><div class="car-panel__info">
            <span class="car-panel__info__span">Бренд: 
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.brand}}</span>
            <span class="car-panel__info__span">Модель:
                <i class='fas fa-at' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.model}}</span>
            <span class="car-panel__info__span">Рік:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.year}}</span>
            <span class="car-panel__info__span">Контакти:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.phone}}</span>
            <span class="car-panel__info__span">Двигун:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.engine}}</span>
            <span class="car-panel__info__span">Колір:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.color}}</span>
            <span class="car-panel__info__span">Про автомобіль:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.about}}</span>
            <span class="car-panel__info__span">Ціна:
                <i class='far fa-address-card' style='font-size:20px; width: 33px; padding-right: 10px; '></i>{{car.price}}</span>
        </div>
    </div>
</div>
